description = "Website footer section"
==
<div class="container footer">
    <div class="sp-form-outer sp-force-hide">
        <div class="sp-form sp-form-regular sp-form-embed sp-form-horizontal sp-form-full-width" id="sp-form-213867" sp-id="213867" sp-hash="12ac849f63c2a031cbadb847c379704b51a7bf5903cc5b0d0de78bd1f8388438" sp-lang="en" sp-show-options="%7B%22satellite%22%3Afalse%2C%22maDomain%22%3A%22login.sendpulse.com%22%2C%22formsDomain%22%3A%22forms.sendpulse.com%22%2C%22condition%22%3A%22onEnter%22%2C%22scrollTo%22%3A25%2C%22delay%22%3A10%2C%22repeat%22%3A3%2C%22background%22%3A%22rgba(0%2C%200%2C%200%2C%200.5)%22%2C%22position%22%3A%22bottom-right%22%2C%22animation%22%3A%22%22%2C%22hideOnMobile%22%3Afalse%2C%22urlFilter%22%3Afalse%2C%22urlFilterConditions%22%3A%5B%7B%22force%22%3A%22hide%22%2C%22clause%22%3A%22contains%22%2C%22token%22%3A%22%22%7D%5D%2C%22analytics%22%3A%7B%22ga%22%3A%7B%22eventLabel%22%3Anull%2C%22send%22%3Afalse%7D%2C%22ym%22%3A%7B%22counterId%22%3Anull%2C%22eventLabel%22%3Anull%2C%22targetId%22%3Anull%2C%22send%22%3Afalse%7D%7D%2C%22utmEnable%22%3Afalse%7D">
            <div class="sp-form-fields-wrapper show-grid">
                <div class="form__wrapper">
                    <label class="sp-control-label"><span>Stay Current With Our Latest Insights</span></label>
                    <form class="sp-element-container" novalidate="">
                        <div class="sp-field" sp-id="sp-a71e6fd1-9acf-4f41-b3dc-8f2152c749f8"><input class="sp-form-control" type="email" sp-type="email" name="sform[email]" placeholder="Enter Your Email" sp-tips="%7B%22required%22%3A%22Required%20field%22%2C%22wrong%22%3A%22Wrong%20email%22%7D" autocomplete="on" required="required"></div>
                        <div class="sp-field sp-button-container" sp-id="sp-f63cba59-48d0-4248-babc-97587ed34c99"><button class="sp-button" id="sp-f63cba59-48d0-4248-babc-97587ed34c99">SUBSCRIBE</button></div>
                        <div class="sp-field sp-field-full-width" sp-id="sp-7dd427e4-a8c3-4126-b02f-897742857dde">
                            <div style="font-family: inherit; line-height: 1;"></div>
                        </div>
                    </form>
                    <div class="sp-message">
                        <div></div>
                    </div>
                </div>
                <nav class="social-links">
                    <span>Let's connect</span>
                    <ul class="social-links__list">
            			<li class="social-links__link">
            				<a class="icon" href="https://twitter.com/rocknblockdev" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-tw-mask.svg'| theme }}" alt="twiter">
            				</a>
            			</li>
            			<li class="social-links__link">
            				<a class="icon" href="https://t.me/joinchat/WG1xLuqY2uUgc_HH" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-tg-mask.svg'| theme }}" alt="telegram">
            				</a>
            			</li>
            			<li class="social-links__link">
            				<a class="icon" href="https://www.facebook.com/RocknBlockDev/?ref=br_rs" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-fb-mask.svg'| theme }}" alt="facebook">
            				</a>
            			</li>
            			<li class="social-links__link">
            				<a class="icon" href="https://rocknblock.medium.com/" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-medium-mask.svg'| theme }}" alt="medium">
            				</a>
            			</li>
            			<li class="social-links__link">
            				<a class="icon" href="https://www.linkedin.com/authwall?trk=ripf&amp;trkInfo=AQHvgveZGbs93QAAAXggz85o2_gQEyTCero1KbSW_FNCIX1sjFUjvezZQqiUuu2cVmo2lj4adoTCg0J8Rvb-V8pKjpQj8U3C5-qT4igU957ofdXB7BvLt6ctemMUWideBHjsZLg=&amp;originalReferer=https://rocknblock.io/&amp;sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F13060149" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-in-mask.svg'| theme }}" alt="linked in">
            				</a>
            			</li>
            			<li class="social-links__link">
            				<a class="icon" href="mailto:hello@rocknblock.io" rel="noreferrer" target="_blank">
            					<img src="{{ 'assets/images/site/social/icon-footer-mail-mask.svg'| theme }}" alt="email">
            				</a>
            			</li>
            		</ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-services">
        <div class="footer-services-list">
            <div class="footer-services-item">
                <span class="title">NFT Metaverse</span>
                <a class="link" href="/marketplace">NFT Marketplace</a>
                <a class="link" href="/10knft">10k NFT Generator</a>
                <a class="link" href="/gamefi">GameFi</a>
                <a class="link" href="/metaverse">Metaverse</a>
            </div>
            <div class="footer-services-item">
                <span class="title">De-Fi Experience</span>
                <a class="link" href="/farming">Yield Farming</a>
                <a class="link" href="/vesting">Vesting Contract</a>
                <a class="link" href="/staking">Staking Platfrom</a>
                <a class="link" href="/launchpad">Launchpad</a>
                <a class="link" href="/tools">Trading Tools</a>
                <a class="link" href="/dex">DEX/CEX</a>
            </div>
            <div class="footer-services-item">
                <span class="title">Token Assistance</span>
                <a class="link" href="/token-generator">Token Generator</a>
                <a class="link" href="/crowdsale">Crowdsale Pack</a>
                <a class="link" href="/bridge">Cross-Chain Bridge</a>
                <a class="link" href="/safemoon">Deflationary</a>
                <span class="link">Tokenized Property (soon)</span>
            </div>
            <div class="footer-services-item">
                <span class="title">Blockhain Expertise</span>
                <a class="link" href="/consulting">Consulting</a>
                <a class="link" href="/security-audit">Security Audit</a>
                <a class="link" href="/rust">Rust Development</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="links">
            <p class="bottom__copyright-desktop">© Copyright Rock’n’Block 2022</p> <a href="/privacy-policy" target="_blank">Privacy
                Policy</a><a href="/terms-of-service" target="_blank">Terms
                of Service</a><a href="/company" target="_blank">Company</a>
        </div>
        <p class="bottom__copyright-mobile">© Copyright Rock’n’Block 2022</p>
    </div>
</div>

<div id="btnScrollToTop">
	<img src="{{ 'assets/images/site/icons/icon-arrow-top-mask.svg'| theme }}" alt="arrow top">
</div>

<ul class="side-socials">
    <li class="side-socials__link side-socials__link_tg">
        <a class="icon" href="https://t.me/rocknblock" rel="noreferrer" target="_blank"><img src="{{ 'assets/images/site/social/icon-footer-tg-mask.svg' | theme }}" alt="tg">
        </a>
    </li>
    <li class="side-socials__link side-socials__link_whatsapp">
        <a class="icon" href="https://api.whatsapp.com/send?phone=16232304354" rel="noreferrer" target="_blank">
            <img src="{{ 'assets/images/site/social/icon-footer-whatsapp-mask.svg' | theme }}" alt="whatsapp">
        </a>
    </li>
</ul>